# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [20]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [3]:
# Run this code:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here
salaries.sample(50)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
10792,"GONZALEZ, ROBERT C",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,110214.00,NaN
3333,"BRYANT, EYRLE J",ACCOUNTING TECHNICIAN II,FINANCE,F,Salary,NaN,76932.00,NaN
24192,"RANGEL, MARK E",FIREFIGHTER,FIRE,F,Salary,NaN,87006.00,NaN
9774,"GAMENG, MARK G",LEGISLATIVE AIDE,CITY COUNCIL,F,Salary,NaN,42396.00,NaN
12146,"HAWORTH, JAMES R",POLICE OFFICER,POLICE,F,Salary,NaN,87006.00,NaN
6724,"DAWSON, JOHN",OPERATING ENGINEER-GROUP A,GENERAL SERVICES,F,Hourly,40.0,NaN,47.44
5501,"CONLEY, THOMAS I",POLICE OFFICER,POLICE,F,Salary,NaN,84054.00,NaN
29839,"TORRES-WILMORE, NADIA K",POLICE OFFICER,POLICE,F,Salary,NaN,72510.00,NaN
12543,"HERNANDEZ, MARY A",POLICE OFFICER,POLICE,F,Salary,NaN,87006.00,NaN
16916,"LINZEMANN, JOSEPH",POLICE OFFICER / FLD TRNG OFFICER,POLICE,F,Salary,NaN,88296.00,NaN
10561,"GOLDEN, MICHAEL G",POLICE OFFICER,POLICE,F,Salary,NaN,87006.00,NaN
18505,"MAY, MICHAEL A",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,48.25
17302,"LOUIE, JARRNARD T",SENIOR DATA ENTRY OPERATOR,PUBLIC LIBRARY,F,Salary,NaN,58248.00,NaN
2595,"BORUCKI, KENNETH S",POLICE OFFICER,POLICE,F,Salary,NaN,90024.00,NaN
22096,"OSEPEK, PHILIP A",PARAMEDIC,FIRE,F,Salary,NaN,97386.00,NaN
12318,"HELMA, MARC J",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,89148.00,NaN
8126,"ELDRIDGE, BEVERLY M",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,20.31
25712,"ROTTMAN, DOREEN R",AMBULANCE COMMANDER,FIRE,F,Salary,NaN,117816.00,NaN
4119,"CARLSON, BRIAN J",SUPVSR OF AUDITING,FINANCE,F,Salary,NaN,115932.00,NaN
1928,"BELL, TEENA M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.00,NaN
30705,"VERA, GLORIA",POLICE OFFICER,POLICE,F,Salary,NaN,84054.00,NaN
15139,"KELLY MITCHELL, DONNA L",ARCHITECT IV,BUILDINGS,F,Salary,NaN,110064.00,NaN
11683,"HALTEK, STEVEN R",SERGEANT,POLICE,F,Salary,NaN,107988.00,NaN
6839,"DELAFONT, JAMES K",LIEUTENANT,POLICE,F,Salary,NaN,127692.00,NaN
13893,"JAMISON, VICKIE H",FIELD SANITATION SPECIALIST,STREETS & SAN,F,Salary,NaN,88308.00,NaN
262,"AHMAD, FAROOQ",LABORER,AVIATION,F,Hourly,40.0,NaN,34.57
22731,"PEARY, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,91080.00,NaN
12719,"HILAL, SUZANNE",ASST CORPORATION COUNSEL I,LAW,F,Salary,NaN,60084.00,NaN
32184,"WILLIAMS, UGHINGA",STEAMFITTER,WATER MGMNT,F,Hourly,40.0,NaN,47.50
601,"ALVAREZ, DAYLILY C",LIBRARIAN III,PUBLIC LIBRARY,F,Salary,NaN,68796.00,NaN
15621,"KOCHNIARCZYK, KELLY M",PARAMEDIC,FIRE,F,Salary,NaN,76266.00,NaN
1946,"BELUSO, CHRISTOPHER J",POLICE OFFICER,POLICE,F,Salary,NaN,87006.00,NaN
26672,"SCHMITZ, JOHN E",OPERATING ENGINEER-GROUP C,AVIATION,F,Hourly,40.0,NaN,45.07
14128,"JIMENEZ, YEZENIA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.00,NaN
26924,"SELLKE, ERIKA B",COORDINATING PLANNER,COMMUNITY DEVELOPMENT,F,Salary,NaN,81948.00,NaN
20951,"NAVARRETE, HUMBERTO",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
16407,"LAVERY, TIMOTHY A",CHIEF OPERATIONS ANALYST,POLICE,F,Salary,NaN,87312.00,NaN
8719,"FERIZOVIC, SALIH",POLICE OFFICER,POLICE,F,Salary,NaN,87006.00,NaN
21131,"NEWMAN, KATIE",SENIOR COMPANION,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
8574,"FARFAN, CARLOS",HOISTING ENGINEER,WATER MGMNT,F,Hourly,40.0,NaN,49.10
10907,"GOULDING, JOHN",MANAGER OF VEHICLE ADJUSTMENTS,GENERAL SERVICES,F,Salary,NaN,93876.00,NaN
14663,"JORDAN, KENNETH",POLICE OFFICER,POLICE,F,Salary,NaN,93354.00,NaN
8089,"EGAN, JOHN P",POLICE OFFICER,POLICE,F,Salary,NaN,93354.00,NaN
32303,"WILSON, MICHELLE E",LIEUTENANT,POLICE,F,Salary,NaN,120252.00,NaN
6272,"CURRY, JAMES R",POLICE OFFICER,POLICE,F,Salary,NaN,93354.00,NaN
24902,"RIVERA, NATIVIDAD",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,20.31
583,"ALVARADO, HENRY G",POLICE OFFICER,POLICE,F,Salary,NaN,48078.00,NaN
2807,"BRADY, WILLIAM D",FOREMAN OF STREET LIGHT REPAIRMEN,TRANSPORTN,F,Salary,NaN,112112.04,NaN
5743,"CORNELIO, DORA E",AVIATION COMMUNICATIONS OPERATOR,OEMC,F,Salary,NaN,70644.00,NaN
22388,"PANIAGUA BERLANGA, MACARIA C",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60

In [5]:
salaries.describe()
salaries['Hourly Rate'].describe()

count    8022.000000
mean       32.788558
std        12.112573
min         2.650000
25%        21.200000
50%        35.600000
75%        40.200000
max       109.000000
Name: Hourly Rate, dtype: float64

# Challenge 2
This is a placeholder to make the AI corrector be able to find the correct exercise for feedback

# Challenge 3 - Constructing Confidence Intervals

We will test whether the hourly wage of all hourly workers is significantly different from $30/hr.

In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. Is $30/hr within that interval?

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [26]:
# filtiring the hourly rate
hourly = salaries.loc[salaries['Salary or Hourly'] == 'Hourly',    'Hourly Rate']
# making sur eno missing values
hourly = hourly.dropna()
# assinging the mean ands std and size 
ave = hourly.mean()
st = hourly.std(ddof=1)
size = len(hourly)
# doing the statistic 
se = stats.sem(hourly)
df = size - 1
ci = stats.t.interval(0.95, df=df, loc=ave, scale=se)
print(ci)
# Since 30 falls outside the 95% confidence interval, we conclude that the population mean hourly wage is significantly different from 30.

(np.float64(32.52345834488425), np.float64(33.05365708767623))

This is fine if we have thousands of worker data. But what if we have only 100 workers data?

Sample 100 workers and re-construct the 95% confidence interval. Is the interval wider of narrower? And why?
Do you still encapsulate the $30/hr mark in this case?

In [ ]:
# re-construction useing smaller sample
hour = hourly.sample(100)
ave2 = hour.mean()
st2 = hour.std(ddof=1)
size2 = len(hour)
se2 = stats.sem(hour)
df2 = size2 - 1
ci2 = stats.t.interval(0.95, df=df2, loc=ave2, scale=se2)
print(ci2)

(np.float64(32.76085345648892), np.float64(37.50554654351109))

In [ ]:
# the interval is wider because the sample size is smaller and stil the same result which said onclude that the population mean hourly wage is significantly different from 30.